* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
  background: #fff;
  border: 3px solid #000;
  padding: 15px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 2px;
}


.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 15px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.box,
.full-box {
  border: 2px solid #000;
  padding: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  height: 90px;
  border: 2px solid #ffd700;
  border-radius: 10px;
  padding: 8px;
  resize: none;
}

.full-box textarea {
  height: 70px;
}


.submit-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 40px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 25px;
  background: #eaeaea;
  cursor: pointer;
}

.submit-btn:hover {
  background: #ffd700;
}

/* Tablet */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  textarea {
    height: 80px;
  }

  .full-box textarea {
    height: 60px;
  }
}
